/* start variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 60%);
    --paragraph-color: #777;
    --section-pad: 100px;

}

/* end variables */
/* start components  */

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    max-width: 100%;
    line-height: 2;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
    color: var(--paragraph-color);

}

.section {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
}

/* end components  */

/* start global rules  */
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", "sans-serif";
}

ul {
    list-style: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small screens  */
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

/* medium screens  */
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

/* large screens  */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* end global rules  */


/* start header */

header {
    position: absolute;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 90px;
}

header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: white;
    width: calc(100% - 30px);
    bottom: 0;
}

header .logo img {
    height: 40px;
}

header nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav .toggle-menu {
    color: white;
    font-size: 22px;
}

@media(min-width:768px) {
    header nav .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;

}

@media(max-width:768px) {
    header nav ul {
        display: none;
    }
}

header nav .toggle-menu:hover+ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #00000050;
}

header nav .toggle-menu:hover+ul li a {
    padding: 10px;
}

header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 40px 10px;
    font-size: 14px;
    transition: .3s;
    position: relative;
    z-index: 2;
}

header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 50px;
    border-left: 1px solid white;
}

header nav .form i {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* end header */




/* start landing */
.landing {
    min-height: 100vh;
    background-color: #1f2021;
    background-image: url("../images/landing/landing.jpg");
    background-size: cover;
    position: relative;
}

.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);

}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
    padding-inline: 50px;
    padding-block: 20px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}


.landing .overlay .text .content {
    max-width: 500px;
}


@media (max-width:768px) {
    .landing .text {
        width: 100%;
    }

    .landing .overlay .text .content {
        max-width: 100%;
    }

}


.landing .overlay .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 15px;
}

.landing .overlay .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #ddd;
}

@media (max-width:768px) {
    .landing .change-background {
        display: none;
    }

    /* 
        display none the change background buttons because
        in mobile we don't need buttons we just slide it with 
        touch .
    */
}

.landing .change-background.fa-angle-left {
    left: 30px;
}

.landing .change-background.fa-angle-right {
    right: 30px;
}

.landing .bullets {
    position: absolute;
    top: 95%;
    left: 50%;
    height: 20px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}



.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

/* end landing */


/* start services */
.services {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
}


@media (min-width:768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
        column-gap: 40px;
        row-gap: 60px;
    }
}


.services .srv-box {
    display: flex;

}

.services .srv-box i {
    margin-right: 30px;
}

@media (max-width:767px) {
    .services .srv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }

    .services .srv-box i {
        margin: 0 0 30px;

    }
}

.services .srv-box h3 {
    margin-bottom: 20px;
    color: var(--main-color);
}

.services .srv-box p {
    line-height: 2;
    color: var(--paragraph-color);
}

/* end services */

/* start design  */
.design {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
    height: 500px;
    display: flex;
    background-color: #1F2021;
    position: relative;
}

.design .image {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.design .image .img2 {
    position: absolute;
    right: 20%;
    z-index: 1;
    bottom: 0;
}

.design .image .img1 {
    z-index: 2;
}

.design .text {
    position: absolute;
    top: 50%;
    right: 0;
    width: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding-inline: 50px;
    padding-block: 20px;
    background-color: var(--transparent-color);
    color: white;

}

@media (max-width:767px) {
    .image img {
        display: none;
    }

    .design .text {
        width: 100%;
    }
}

.design .text h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 15px;
}

.design .text ul li {
    font-size: 14px;
    padding: 15px 0;
}

.design .text ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f108';
    font-weight: 900;
    margin-right: 15px;
    margin-bottom: 2px;
    position: relative;
    top: 2px;
}

/* end design  */

/* start portfolio */
.portfolio {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
    position: relative;
}

.portfolio .shuffle {
    display: flex;
    justify-content: center;
}

.portfolio .shuffle a {
    text-decoration: none;
    padding: 10px;
    color: black;
}


.portfolio .shuffle li:hover a,
.portfolio .shuffle li.active a {
    background-color: var(--main-color);
    color: white;

}

.portfolio .images-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.portfolio .images-container .box {
    position: relative;
    overflow: hidden;
}

.portfolio .images-container .box:hover .caption {
    bottom: 0;
}

@media (min-width:768px) {
    .portfolio .images-container .box {
        flex-basis: 50%;
    }
}

@media (min-width:992px) {
    .portfolio .images-container .box {
        flex-basis: 25%;
    }
}

.portfolio .images-container .box img {
    max-width: 100%;
    transition: .3s;

}

.portfolio .images-container .box:hover img {
    transform: rotate(4deg) scale(1.1);
}

.portfolio .images-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: .5s;
    bottom: -100%;
}

.portfolio .images-container .box .caption h4 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.portfolio .images-container .box .caption p {
    color: var(--main-color);
    font-size: 16px;
}

.portfolio .more {
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    left: 50%;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
}

/* end portfolio */

/* start video  */
.video {
    position: relative;
}

.video::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--transparent-color);
    color: white;
    width: 100%;
    text-align: center;
    padding: 50px;
    z-index: 2;
}


.video .text h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.video .text p {
    margin-bottom: 20px;
}

.video .text a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 15px;
}

@media (max-width:768px) {
    .video .text {
        top: 20%;
        padding: 20px;
    }

    .video .text h2 {
        margin-bottom: 10px;
    }

    .video .text p {
        margin-bottom: 15px;
    }
}

/* end video  */
/* start about */
.about {
    padding-top: var(--section-pad);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    max-width: 100%;
    margin-top: -120px;
}

@media (max-width:768px) {
    .about img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/* start about */
/* start staticts */
.stats {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
    text-align: center;
    background-image: url("../images/stats.png");
    position: relative;
}

.stats::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);

}

.stats .container {
    position: relative;
    display: flex;
    background-color: var(--transparent-color);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 5;

}


.stats .container .box {
    padding: 50px;
}

.stats .container .box i {
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.stats .container .box .number {
    margin-bottom: 20px;
    margin-top: 22px;
    color: white;
    font-size: 30px;
    font-weight: 800;
}

.stats .container .box p {
    color: white;
}

/* end staticts */

/* start our skills */
.our-skills {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);

}

.our-skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width:992px) {
    .our-skills .container>div {
        flex-basis: 45%;
    }

}

.our-skills .container>div>h3 {
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 15px;

}

.our-skills .container>div>p {
    margin-bottom: 50px;
    color: var(--paragraph-color);
    text-align: center;
    line-height: 1.5;
}

.our-skills .container .testimonials {
    position: relative;
}

.our-skills .container .content {
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    position: relative;
}

.our-skills .testimonials .content::before {
    content: '';
    left: 130px;
    bottom: -10px;
    position: absolute;
    width: calc(100% - 130px);
    background-color: var(--paragraph-color);
    height: 1px;
}

.our-skills .testimonials .content img {
    width: 100px;
    margin-right: 30px;
    border-radius: 50%;
}

.our-skills .testimonials .content .text {
    line-height: 1.8;
    font-size: 16px;
    font-weight: 500;
}

.our-skills .testimonials .content .text p {
    color: var(--paragraph-color);
    text-align: right;
    font-size: 14;
    font-weight: 300;
}

@media(max-width:768px) {
    .our-skills .container .content {
        display: block;
        text-align: center;
    }

    .our-skills .testimonials .content::before {
        width: 100%;
        left: 0;
    }
}

.our-skills .bullets {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;

}

.our-skills .bullets li {
    width: 15px;
    height: 15px;
    border: 1px solid var(--paragraph-color);
    border-radius: 50%;
    margin-right: 10px;

}

.our-skills .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .skills .prog-holder {
    margin: 30px 0;
}

.our-skills .skills .prog-holder h4 {
    font-weight: normal;
    margin-bottom: 15px;
}

.our-skills .skills .prog-holder .prog {
    height: 30px;
    background-color: #dedadc;
}

.our-skills .skills .prog-holder span {
    background-color: var(--main-color);
    display: flex;
    height: 30px;
    position: relative;
}

.our-skills .skills .prog-holder span::before {
    content: attr(data-progress);
    color: white;
    background-color: black;
    position: absolute;
    top: -40px;
    right: -18px;
    padding: 3px 5px;
    border-radius: 4px;

}

.our-skills .skills .prog-holder span::after {
    content: '';
    border: 10px solid;
    border-color: black transparent transparent;
    position: absolute;
    top: -18px;
    right: -10px;
}

/* end our skills */
/* start quote */
.quote {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
    background-image: url("../images/quote.jpg");
    background-size: cover;
    position: relative;
    color: white;
}

.quote::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 70%);
}

.quote .container {
    position: relative;
    z-index: 5;
}

.quote q {
    display: block;
    margin: 20px 0;
    font-size: 30px;
    text-align: center;
}

.quote q::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f10d';
    font-weight: 900;
    position: relative;
    font-size: 15px;
    top: -10px;
    right: 5px;
}

.quote q::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f10e';
    font-weight: 900;
    position: relative;
    font-size: 15px;
    top: -10px;
    left: 2px;
}

.quote span {
    display: block;
    text-align: center;
}

/* end quote */
/* start pricing */
.pricing {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
}

.pricing .container {
    text-align: center;
}

.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    column-gap: 20px;
}

.pricing .plans .plan {
    background-color: #FCFCFC;
    position: relative;
    margin-bottom: 30px;
    bottom: 15px;
}

.pricing .plans .plan .head {
    border: 1px solid;
    border-color: var(--main-color) transparent;
    padding-block: 25px;
}

.pricing .plans .plan .head h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;

}

.pricing .plans .plan .head span {
    font-size: 40px;
    font-weight: 600;
    position: relative;
}

.pricing .plans .plan .head span::before {
    content: '$';
    position: absolute;
    font-size: 24px;
    top: 0;
    left: -18px;
}

.pricing .plans .plan .head span::after {
    content: '/Mo';
    position: absolute;
    font-size: 20px;
    bottom: 4px;
    right: -44px;
}

.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
    font-size: 14px;
}

.pricing .plans .plan ul li {
    padding: 15px 0;
    position: relative;
}

.pricing .plans .plan ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 0;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
}


.pricing .plans .plan .foot a {
    display: block;
    margin: 30px auto;
    text-decoration: none;
    border: 1px solid var(--main-color);
    color: #0000EE;
    padding: 15px 20px;
    width: fit-content;

}

.pricing .contact-text {
    margin: 30px 0;
}

.pricing .contact {
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    padding: 10px 20px;
}

/* end pricing */
/* start subscribe */
.subscribe {
    padding-top: var(--section-pad);
    padding-bottom: var(--section-pad);
    background-image: url("../images/earth.jpg");
    background-size: cover;
    position: relative;
}

.subscribe::after {
    content: '';
    position: absolute;
    background-color: rgb(0 0 0 / 60%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.subscribe .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    color: white;

}

@media (max-width:767px) {
    .subscribe .container {
        flex-direction: column;
    }
}

.subscribe form {
    display: flex;
    position: relative;

}

.subscribe form i {
    position: absolute;
    font-size: 30px;
    left: 15px;
    transform: translateY(50%);
}

.subscribe form input[type=email] {
    color: white;
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
}

.subscribe form input[type=submit] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
    cursor: pointer;
}

.subscribe form input:focus {
    outline: none;
}

.subscribe p {
    text-align: center;
    width: 50%;
}

@media (max-width:767px) {
    .subscribe p {
        margin-top: 30px;
        width: 100%;
    }
}

/* end subscribe */
/* start contact  */

.contact .content {
    display: flex;
    justify-content: space-between;
}

.contact .content form {
    flex-basis: 70%;
    margin-right: 50px;
}

.contact .content .info {
    flex-basis: 25%;
}

@media (max-width:768px) {
    .contact .content {
        flex-direction: column-reverse;
        text-align: center;
    }

    .contact .content .info {
        margin-bottom: 30px;
    }

    .contact .content form {
        margin: auto;
    }
}

.contact .content form .input {
    width: 100%;
    outline: none;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid var(--paragraph-color);
}

.contact .content form textarea.input {
    height: 200px;
}

.contact .content form input:last-child {
    display: flex;
    margin-left: auto;
    padding: 15px 20px;
    background-color: var(--main-color);
    color: white;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;

}

.contact .content .info h4 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}

.contact .content .info span {
    display: block;
    color: var(--paragraph-color);
    margin-bottom: 10px;
}

.contact .content .info address {
    color: var(--paragraph-color);
    line-height: 2;
}

/* start contact  */
/* start footer  */
footer {
    padding-top: calc(var(--section-pad)/2);
    padding-bottom: calc(var(--section-pad)/2);
    background-color: #1F2021;
    background-image: url("../images/earth.jpg");
    background-size: cover;
    position: relative;
}

footer::after {
    content: '';
    position: absolute;
    background-color: rgb(0 0 0 / 60%);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer .container {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
}

footer .container img {
    height: 36px;
    width: 112px;
}

footer .container h3 {
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
}

footer .container .social {
    margin: 15px auto;
}

footer .container .social i {
    margin-right: 30px;
}

footer .container p {
    padding: 15px;
}

footer .container p span {
    font-weight: 700;
    font-size: 18px;
    color: var(--main-color);
}

/* end footer  */